body{
    margin: 0;
    padding: 0;
    width: 100%;
}
.baner{
    background-color:#E8C84E ;
    width: 100%;
    font-size: 130%;
    height: 50px;
    text-align: center;
}
.bl{
    background-color: #FFB544;
    height: 500px;
    width: 40%;
    font-size: 130%;
    float: left;
}
.bs{
    height: 500px;
    width: 30%;
    text-align: center;
    float: left;
}
.bp{
    background-color: #FFB544;
    height: 500px;
    width: 30%;
    font-size: 130%;
    float: left;
    text-align: center;
}
.footer{
    background-color: #E8C84E;
    height: 50px;
    text-align: right;
    padding: 10px;
    width: calc(100% - 20px);
    float: left;
}
ul{
    padding-top: 30px;
    background-color: #FFAA00;
}
h3{
    margin-top: 50px;
}
img{
    margin-top: 50px;
}
form{
    padding-bottom: 100px;
}